<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
	<!-- 푸터 -->
	<footer>
	  <div class="footer-container">
	    <div class="footer-left">
	      &copy; 2025 Moneyflow. All rights reserved. <br>
	      Powered by Theo Jeong | shjeong19943@gmail.com
	    </div>
	    <div class="footer-right">
	      <a href="#이용약관">이용약관</a>
	      <a href="#개인정보처리방침">개인정보처리방침</a>
	    </div>
	  </div>
	</footer>
	<!-- 푸터 -->
</body>
</html>