<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
	<!-- 헤더 -->
	<header>
	  <a th:href="@{/}" class="logo">
	    <img th:src="@{/image/logo_gradient.jpg}" alt="머니플로 로고">
	    <span>MONEYFLOW</span>
	  </a>
	  <nav>
	    <a th:href="@{/}">홈</a>
	    <a th:href="@{/transactions/transactions}">내역 관리</a>
	    <a th:href="@{/categories/categories}">카테고리 관리</a>
	    <a th:href="@{/mypage/mypage}">마이페이지</a>
	    <a th:href="@{/users/login}">로그인</a>
	  </nav>
	</header>
	<!-- 헤더 -->
</body>
</html>