<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MONEYFLOW - 비밀번호 변경</title>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/fragment/header.css}">
	<link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
	<link rel="stylesheet" th:href="@{/css/users/changePw.css}" />

	<!-- JS -->
	<script th:src="@{/js/user/changePw.js}" defer></script>
</head>

<body>

	<!-- 헤더 -->
	<div th:replace="fragment/header :: header"></div>

	<!-- 컨텐츠 -->
	<main class="main">
		<div class="change-card">
			<h2>비밀번호 변경</h2>
			<form id="changePwForm">

				<div class="password-wrapper">
					<input type="password" id="currentPassword" placeholder="현재 비밀번호" />
					<button type="button" class="eye-button" data-target="currentPassword">👁</button>
				</div>

				<div class="password-wrapper">
					<input type="password" id="newPassword" placeholder="새 비밀번호" />
					<button type="button" class="eye-button" data-target="newPassword">👁</button>
				</div>

				<div class="password-wrapper">
					<input type="password" id="confirmPassword" placeholder="새 비밀번호 확인" />
					<button type="button" class="eye-button" data-target="confirmPassword">👁</button>
				</div>

				<button type="submit" class="change-button">변경하기</button>
			</form>
		</div>
	</main>
	<!-- 컨텐츠 -->

	<!-- 푸터 -->
	<div th:replace="fragment/footer :: footer"></div>

</body>

</html>