<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MONEYFLOW - 로그인</title>
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/fragment/header.css}">
	<link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
	<link rel="stylesheet" th:href="@{/css/users/login.css}">

	<!-- JS -->
	<script th:src="@{/js/users/login.js}" defer></script>
</head>

<body>
	<!-- 헤더 -->
	<div th:replace="fragment/header :: header"></div>

	<!-- 컨텐츠 -->
	<main class="main">
		<div class="login-card">
			<h2>로그인</h2>

			<form id="loginForm">
				<input type="email" id="email" placeholder="이메일" />
				<div class="password-wrapper">
					<input type="password" id="password" placeholder="비밀번호" />
					<button type="button" id="togglePassword" class="eye-button">👁</button>
				</div>

				<div class="account-links">
					<a href="/html/user/findAccount.html">ID / PW 찾기</a>
					<a th:href="@{/users/signup}">회원가입</a>
				</div>

				<button type="submit" class="login-button">로그인</button>
			</form>

			<div class="sns-login">
				<p>SNS 계정으로 로그인</p>
				<div class="sns-buttons">
					<button class="kakao">카카오 로그인</button>
					<button class="naver">네이버 로그인</button>
					<button class="google">구글 로그인</button>
				</div>
			</div>
		</div>
	</main>
	<!-- 컨텐츠 -->

	<!-- 푸터 -->
	<div th:replace="fragment/footer :: footer"></div>
</body>

</html>